.container{
	width: 100%;
	min-height: 250px;
}

.column{
	padding:8px;
}
.row{
	padding: 8px 4px;
}

input[type="checkbox"].PlCheckBox {
    height: 13px;
    position: static;
    width: 13px;
}

.savedSearchChkbox{
	margin-right:15px;
}

.alertMsg{
	padding:20px 10px;
}
.searchValues{
    min-height: 150px;
}