.react-numeric-input{
    padding-right: 3ex;
    box-sizing: border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    padding-left: 4px;
    display: block;
    -webkit-appearance: none;
    line-height: normal;
    margin: 5px;

}
.assessmentMinutes span b{
border:none !important;
background:none !important;
box-shadow:none !important;
bottom: 10px !important;
}

.assessmentMinutes span b:nth-child(2) i{
  border-width: 0px 0.8ex 0.8ex!important;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) !important;
}
.assessmentMinutes span b:nth-child(3) i{
  border-width: 0.8ex 0.8ex 0px !important;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent !important;

} 

.assessmentMinutes {
    float: left;
    width: 11%;
}
.assessmentMinutes {
 margin: 2px 92px;
}
.assessmentMinutes label {
    width: auto;
    display: inline-block !important;
    text-align: left;
    min-width: 0px;
    padding-right: 10px;
    color: #8c8c8c;
    font-size: 0.875rem;
    padding-top: 30px;
}