@import "../../../styles/variables.css";


/* Acts as a container */
.plContainer{
	all: initial;
}

.plContainer :not(button) {
      -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


.plProductLinkModal{
    max-width: 500px!important;
    composes: padding0 from "../../../styles/patterns.css";
    composes: col100 from "../../../styles/patterns.css";
    composes: c2FontFamily from "../../../styles/patterns.css";
}




/* Product linking header container */
/*.ProductLinkModal .plModalHeadDiv{
*/  
 .plModalHeadDiv{  
    padding:15px 15px;
    background-color: $BrightlyLit;
    lost-utility:clearfix;
    border-bottom: 1px solid #bbb;
}

/* .pageTitle ; hypen can be used to separate words; But in JS, use camel case */
/*.ProductLinkModal .plModalHeadDiv .plModalTitle {*/
.plModalTitle {
   lost-column:3/4 0;
   font-size: 20px;
   line-height: 30px;
}

/*.ProductLinkModal .plModalHeadDiv .plCloseButtonDiv {*/
.plCloseButtonDiv {
    composes: close from "../../../styles/patterns.css";
    composes: textAlignright from "../../../styles/patterns.css";
    lost-column:1/4 0;
}

/*.ProductLinkModal .plModalBodyDiv {*/
.plModalBodyDiv{
	padding: 5px 10px;
    lost-utility:clearfix;
    composes: minHeight200 from "../../../styles/patterns.css";
}

