@import "../../../styles/variables.css";
/* ProductLink.js CSS */

/*.ProductLinkModal .plModalBodyDiv .plBodyHead{*/
.plBodyHead{
    padding:15px 0px;
    font-size: 15px;
    lost-column:1 0;
}


/*.ProductLinkModal .plModalBodyDiv .plAutoSuggestDiv{
*/
.plModalFooterDiv{
    padding:15px 15px;
    background-color: $BrightlyLit;
    composes: textAlignright from "../../../styles/patterns.css";
    border-top: 1px solid #bbb;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/*.ProductLinkModal .plModalFooterDiv .plCancelButton{*/
.plCancelButton{
    composes: c2BlueButton from "../../../styles/patterns.css";
}

/*.productLinkclsLoader {
    z-index: 9999;
    background: url(../../../../images/loading.gif) center no-repeat rgba(255, 255, 255, 0.26);
    display: block;
    position: relative;
    height: 200px;
    background-size: 100px;
}*/


/*.ProductLinkModal .plModalBodyDiv .plAutoSuggestBtnDiv{
*/
.plAutoSuggestBtnDiv{
    float: left;
    margin-left: 300px;
    width: 80px;
}

/*.ProductLinkModal .plModalBodyDiv .plAutoSuggestBtnDiv .plLinkButton{
*/
.plLinkButton{
    composes: c2BlueButton from "../../../styles/patterns.css";
    composes: col100 from "../../../styles/patterns.css";
    width: 18%;
    margin-right: 10px;

}

.plLinkButton:disabled{
    cursor: default;
    background: #9dc0db;
}

.product-linkcls-loader {   
    /* composes:lostColumnOne; */
    background-image: url('b64---./images/loading.gif---');
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgba(255, 255, 255, 0.26);    
    height: 198px;
    background-size: 100px;
}

.folderTree {
    overflow: auto;
    max-height: 300px;
    height: inherit;
    border: 1px solid #cccccc;
    margin-bottom: 70px;
}




