.filterOption{
    max-height: 50px;
    overflow-y: auto;
    position: absolute;
    z-index: 9999;
    background: white;
    min-height: 50%;
    border: 1px solid lightgrey;
}

input[type="checkbox"].filterTypeCheckbox{
	height: 13px;
    position: static;
    width: 13px;
    margin: 3px;
}