.addAnAssetContainer{
	all: initial;
}



.addAnAssetLayout{
	display: flex;
	width: 900px;
	flex-flow: column;
	padding: 0px!important;
	composes: c2FontFamily from "../../../../styles/patterns.css";
	min-height: 545px;
}


.addAnAssetLayout input{
  padding:1px!important;
}

.modalBodyDiv{
	padding: 0px;
	margin: 10px 10px 0px 10px;
}